.header {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0px;
  z-index: 9999;
}

.listImg {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 5px;
  top: 8px;
  z-index: 9999;
}

.search {
  height: 45px;
  background: #F6AD49;
}

.am-search-input {
  margin-left: 36px;
  border-radius: 20px;
  background-color: #FFF;
  opacity: 0.6;
}

.am-search-cancel {
  color: #FFF;
}

.title {
  background: #F6AD49;
  height: 45px;
  color: #FFF;
}

.am-navbar-light .am-navbar-title {
  color: #FFF;
}
