.account {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 45px;
  bottom: 50px;
  overflow: auto;
}

.userCard {

}

.userList {
  margin-top: 10px;
}

.userFunction {
  margin-top: 10px;
}

.exit {
  margin-top: 10px;
}
.exit .am-list-item .am-list-line .am-list-content {
  text-align: center;
  color: #F6AD49;
}