.my {
  width: 100%;
  height: 622px;
  position: absolute;
  top: 45px;
  bottom: 50px;
  overflow: auto;
  padding: 0;
  margin: 0;
}

.musicList {
  width: 100%;
  margin: 0;
  padding: 0;
}

.am-list-header {
  padding: 5px 15px;
}